<<<<<<< HEAD

body{
    background: url(./../../../public/assets/bg2.jpg) ;
   
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: contain;
  }
  

=======
>>>>>>> c13099aae5e52ad4a5ff2b44512c0a2143dd0c16

.app-title{
    font-size: 3.5rem;
    text-align: center;
    margin: 200px auto 50px;
    color: #ffffff;
}

.explore-btn {
    width: 11em;
    height: 2.5em;
    display: block;
    margin: 0.5em auto ;
    background: rgba(0, 0, 0, 0.521);
    color: rgb(233, 187, 62);
    border: none;
    border-radius: 2.925em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .explore-btn:hover {
    color: black;
   }
   
   .explore-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .explore-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .arrow{
    margin: 0px 8px 0px;
    background-color: rgb(76, 172, 52);
    color: white;
    padding: 3px 5px 3px;
    border-radius: 1.5rem;
    
   }




