.main-page-headline{
   margin: 50px auto;
}

.headline-hr{
   margin: 50px auto;
   width: 50%;
   
}

.main-page-headline-caption{
  text-align: center;
  font-weight: 200;
  font-size: 25px;
  margin-top: 8px;
}

.follow-more{
   text-align: center;
   font-size: 25px;
   margin-top: 8px;
}

.color-orange{
   color: orange;
}


.youtube-thumbnail{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
  .middle{

    text-align: center;
    margin-left:650px;
    margin-top:20px;
    margin-right: 300px;
    font-size: 50px;
    font-weight:60px;
    display: flex;
 color: azure;
  }
  .s{
   margin-right: 10px;
   border: none;
  }
  .s:hover{
    background-color:green;
    color:white;
    transition: all ease .3s;
  }

  h1{
   text-align: center;
   font-size: 50px;
   font-weight: bold;
  }
  .benefits{
   background-image: url(./../../../public/assets/benefits\ of\ travel.webp);
background-repeat: no-repeat;
 
   flex-wrap: wrap;
   height: 60vh;
   background-size:contain;
  display: flex;
   background-position: center;
  
}
  
 @media (max-width: 768px) {
    .middle {
        margin-left:300px;
        margin-top:500px;
        font-size: 30px;
    }}



  
   