.container12{
    display: flex;
    justify-content: space-evenly;
    font-family: "poppins";
    margin: 50px auto;
   

}

.video{
    width: 550px;
    height: 500px;
    box-shadow: 30px;
    border-radius: 3rem;
}
.card23-componant{
    display:grid;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    grid-template-columns: auto auto;
    margin-right: 30px;
}
.card23{
    height: 200px;
    width: 280px;
    border-radius: 20px;
    background-color: rgb(228, 236, 233);
    border-style: solid;
    border-color: rgb(238, 237, 237);
    box-shadow: rgb(168, 166, 166);
}
.logo{
    height: 70px;
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}
.text02{
padding: 5px;
font-size: 25px;
font-weight: 700;
}
.text03{
    padding: 5px;
font-size: 18px;
font-weight: 300;
  
   
    color: rgb(83, 80, 80);
}
