.container12{
    display: flex;
    justify-content: space-between;
}

.video{
    width: 550px;
    height: 500px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 30px;
    box-shadow: 30px;
    border-radius: 15% 0px 15% 0px;
}
.card23-componant{
    display:grid;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    gap: 30px;
    grid-template-columns: auto auto;
    margin-right: 30px;
}
.card23{
    height: 350px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(228, 236, 233);
    border-style: solid;
    border-color: rgb(238, 237, 237);
    box-shadow: rgb(168, 166, 166);
}
.logo{
    height: 100px;
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
}
.text02{
    margin-left: 20px;
}
.text03{
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(83, 80, 80);
}
