
.header-main-img{
    background-image: url("https://images.pexels.com/photos/18466693/pexels-photo-18466693/free-photo-of-truck-on-road-through-desert.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100%; 
    height: 80vh; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(0, 0, 0, 0.304);
    background-blend-mode: multiply;
}

.poster{
    width: 100%;
    height: 500px;

}
.text-header{
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    font-family: "poppins";
    font-weight: 500px;
    color: white;
    text-shadow: 4px 6px 10px #fff;
}
.text-header::after{
    content: " ";
    position: absolute;
    margin-bottom: -3px;
    margin-left:530px;
    left: 20px;
    bottom: 0;
    border: 3px solid salmon;
    width: 15%;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.fade-in-bottom {
    animation: fade-in-bottom 1.8s cubic-bezier(.39, .575, .565, 1.000) .3s both
}


.title1{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 20px;
}
.title2{
    margin-left: 30px;
    font-size: 45px;
}
.title3{
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size:40px ;
}
.search{
    margin-left: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    width: 400px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}


