
.destination-main-img{
    background-image: url("https://images.pexels.com/photos/14083165/pexels-photo-14083165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100vw; 
    height: 85vh; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(0, 0, 0, 0.304);
    background-blend-mode: multiply;
}

.destination-app-desc{
    margin-bottom: 50px;
}

.destination-caption{
    width: 80vw;
    margin: 10px auto 70px;
}

.destination-descrpition{
    margin: 50px auto 0px;
}

.image-gall{
    margin: 30px auto 10px;
}

/* .poster{
    width: 100%;
    height: 500px;

} */
.text-header{
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    font-family: "poppins";
    font-weight: 500px;
    color: white;
    text-shadow: 4px 6px 10px #fff;
}

@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.fade-in-bottom {
    animation: fade-in-bottom 1.8s cubic-bezier(.39, .575, .565, 1.000) .3s both
}


.title1{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 20px;
}
.title2{
    margin-left: 30px;
    font-size: 45px;
}
.title3{
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size:40px ;
}
.search{
    margin-left: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    width: 400px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}

/* search */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 30px;
}

/* Styles for the search input */
.search-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Styles for the search button */
.search-button {
    background-color: #2d2322;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Hover effect for the search button */
.search-button:hover {
    color: rgb(240, 173, 48);
    transition: all.3s ease;
    background-color: black;
}


.destination-hr{
    width: 50%;
    margin: 50px auto;
    
}

