@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
  background-color: rgb(247, 191, 89); /* dodgerblue;*/
  color: #fff;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color:rgba(151, 117, 70, 0.4);/* rgba(0, 0, 0, 0.4);*/
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 3;
  padding-bottom: 1rem;
  padding-left: 2px;
  padding-right: 2px;
}

a, a:visited {
  color: #fff;
}
input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  
 
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  margin-top: 2.5rem;
}