@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
  background-color: rgb(247, 191, 89); /* dodgerblue;*/
  color: #fff;
  font-size: 22px;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}