.division1{

    height: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    
    
}
.division2{
    height: 950px;
    width: auto;

    margin-top: 2px;
    
    margin-left: auto;
    margin-right: auto;

    

}
.division4{
    height: 500px;
    width: auto;
    margin-top: 10px;
    
    border-radius: 5px;
    margin-bottom: 20px;
    

}
.heading1{
    font-size: 100px;
    text-align: center;
    color:white;
    font-family: cursive;
    margin-top: 5px;
 
    
}

.heading3{
    font-size: 50px;
    font-family:'poppins',sans-serif;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
}
.heading2{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family:'poppins',sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading5{
    font-size: 25px;
    text-align: center;
    color: black;
    font-family:'poppins',sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.BlogCard{
    height: 300px;
    width: 900px;

    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color:aliceblue;
    margin-top: 10px;
    margin-left: 270px;
    
   
    

}

.like-division{
    background-color:aquamarine;
    height: 68px;
    width: 898px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.comment{
    margin-right: 30px;
    font-size: 30px;
    padding: 2px;
    margin-top: 10px;
}

.like{
    margin-right: 20px;
    font-size: 20px;
    padding: 2px;
    margin-bottom: 5px;
    
}
.button{
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}


.blog-name{
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
    font-family:'poppins',sans-serif;
    margin-left: 7px;
    font-weight: 200;


}
.m-2{
    margin: 4px;
}
.blog-date{
    margin-left: 5px;
}
.blog-blog{
    text-align: justify;
    padding: 3px;
}
.user-input-name{
    margin-left: 0%;
    height: 70px;
    width: 650px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow:  0px 10px 20px -5px,  0px 8px 16px -8px;
    
}
.user-input-date{
    margin-left: 30px;
    height: 70px;
    width: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 0%;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -5px,  0px 8px 16px -8px;
    
}



.user-input3{
    display: block;
    font-size: 25px;
    padding: 5px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 150px;
    background-color: antiquewhite;
    width: 1400px;
    border-radius: 5px;
    
    box-shadow:  0px 10px 20px -5px,  0px 8px 16px -8px;
    
}
.span{
    margin-right: 1px;
}

.btn-add-blog{
    display: block;
    font-size: 55px;
    padding:2px;
    background-color: orangered;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 1px;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 1px solid;
    box-shadow: green 0px 13px 27px -5px, green 0px 8px 16px -8px;
    
    
}
.btn-add-blog:hover{
    display: block;
    font-size: 40px;
    padding:2px;
    background-color: black;
    margin-top: 20px;
    margin: 3px auto;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: orangered 0px 13px 27px -5px, orangered 0px 8px 16px -8px;
    
    
    
}
.hide{
    text-align:center;
    font-family:'poppins',sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 200;

}
.hide1{
    text-align: center;
    font-family: fantasy;
    margin-top: 5px;
    margin-bottom: 20px;
}
.hr{
    height: 5px;
    color: black;
    background-color: black;
    margin-left: 60px;
    margin-right: 60px;
    
}
.hr1{
    height: 5px;
    color: black;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.name-date{
    height: 100px;
    width:1400px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
.name{
    height: 40px;
    width: 44px;
    border: 1px solid black;
}
.container{
    height: 200px;

   
    margin-top: 5px;
   
    border-radius: 5px;
    background-image: url("./../../components//Image//travel_HD.jpg");
    
    
}
.main-heading{
    font-size: 150px;
    text-align: center;
    font-family: cursive;
    
    margin-bottom: 50px;
    color: white;
    
}
.header-image {
    background-image: url("./../../components//Image//travel_HD.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.304);
    
}
.header-image h1 {
    text-align: center;
    color: #fff;
    padding-top: 250px;
    font-size: 150px;
    text-shadow: 4px 6px 6px black;
    font-family:'poppins',sans-serif;
    font-weight: 400;

}