 
.main-img-shop{
    background-image: url("./Shop images/travalimg6.avif");
    width: 100%;
    height: 400px;
    object-fit:cover;
    padding-top: 160px;
    
}
.shop-product-price-details{
    display: flex;
    gap: 10px;
}
.shop-product-card{
    background-color: #e9e2e2;
    height: 390px;
    width: 330px;
    margin-left: 40px;
    padding-top: 15px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 8px #999;

}
.main-img-txt{
    font-size: 48px;
    text-align: center;
    font-family: cursive;
    
}

.shopping-objects{
    height: 190px;
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.img-sub-text{
    text-align: center;
    font-size: 33px;
    margin-top: 30px;
}
.shop-name-text{
    text-align: center;
    margin-top: 5px;
}
.shop-product-price-details{
    text-align: center;
    display: flex;
    margin-left: 60px;
}
.button-ab{
    margin-left: 58px;
    margin-top: 10px;
}
.btn-card-add{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 40px;
    background-color: rgb(210, 163, 42);
}
.btn-card-Buy{
    font-size: 20px;
     margin-right: 20px;
     border-radius: 5px;
     padding: 5px;
     color: white;
     background-color: rgb(38, 8, 8);
 }
 .btn-card-Buy:hover{
    color: goldenrod;
 }
 .btn-card-add:hover{
    color: white;
    
 }
 .shoppings-main{
    display:inline-flex;
    flex-wrap: wrap;
    
 }
 .section-pname{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
 }
 .bags{
    margin-top: 70px;
    font-weight: bold;
 }