
.product-card{
   height: 520px;
    border: 1px solid black;
    width: 350px;
    margin: 20px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: rgb(235, 230, 240);
    box-shadow: 0px 10px 8px #999;
    padding-bottom: 10px;
    padding-left: 20px;
    padding: 10px;
}
.product-card:hover{
    cursor: pointer;
    width: 355px;
}
.product-img{
    height: 220px;
    width: 270px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.card-two{
    display:flexbox;
}
.card-text{
    text-align: center;
    
}
.sub-text{
    text-align: center;
    margin: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.btn-card-Buy{
   
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;
    
}
.btn-card-add{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 40px;
}
.btn-main{
    display: flex;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 10px;
    
}
.price-details{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    text-align: center;
    margin-top: 2px;
}
.off-text{
    margin-left: 5px;
    margin-bottom: 3px;
}
.star-txt{
    display:inline-flex;
    margin-left: 50px;
    margin-top: none;
    margin-top: 3px;
}
.star-txt:hover{
    cursor: pointer;
    color: gold
}
.main-container{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-around;
}