.app-container{
    background-image: url('https://images.pexels.com/photos/14095311/pexels-photo-14095311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(0, 0, 0, 0.101);
    background-blend-mode: multiply;
    font-family: "poppins";
}
.app-title{
    text-align: center;
    color: black;
    font-size: 2.7rem;
    font-weight: 800;
    margin: 100px auto 80px;
}
.app-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.whish-container
{
    
    height: 400px;
    width:400px;
}
.add-wish{

    height: 400px;
    width:400px;

}
.sub-heading{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}
.user-input{
    display: block;
    font-size: 25px;
    padding: 5px;
    margin: 30px;
    border-radius: 9px;
    border: 2px solid black;
}
.btn-add{
    display: block;
    font-size: 30px;
    padding: 10px 30px;
    margin: 25px auto;
    background-color: black;
    color: beige;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}