.tab-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;

}

/* .tabpanal-container{
    border: 1px solid black;
} */

.tab-list{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
   
  
}

.tablist-menu {
    margin: 5px 5px 15px 5px;
    width: 100%;
    border: none;
    padding: 10px 25px;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "poppins";
    letter-spacing: .5px;
}
.tablist-menu:hover{
    background: none;
    outline: 1px solid orange;
   font-weight: 600;
    transform:scale(.98);
    transition: all ease-in-out 0.2s;
}


.tabpanal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 65%;
    margin: 0px auto;
}