.booking-form-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
    

  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "poppins","san-serif";
  }
  
  .form-group {
    margin: 10px 0;
    text-align: left;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin: 5px ;
  }
  
  input[type="date"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .show-result-btn {
    background-color: #2d2322;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 35px auto 10px;
  }

  .show-result-btn:hover{
    color: rgb(240, 173, 48);
    transition: all.3s ease;
    background-color: black;
}
  
  .result-card {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #f0f9ff;
    font-weight: 600;
  }
  
  .form-icon{
    margin: 1px 5px;
  }