.image-2
{
   width: 100%;
}
 .About-Container
{
   margin: 4rem 6rem;
   text-align: start;

} 
.About-Container h1
{
padding-bottom: 1rem;
}

.About-Container p
{
padding-bottom: 2rem;
}

@media screen and (max-width: 850px)
{
    .About-Container
    {
       margin: 4rem 2rem;
    }   
}

.Our-team
{
   margin: 4rem 6rem;
   text-align:center;
}


.main-container
{
   display: block;
  justify-content: space-around;
  margin-bottom: 35px;
  
}
.container{
margin-bottom: 35px;
display: block;
justify-content: start;
margin-left: 85px;
}
.cards
{
   width: 270px;
  border-radius: 20px;
  background-color:white;
  box-shadow: 0px 10px 8px #999;
  padding: 10px;
  
  
}

.team-member-img
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
}
.info
{
   text-align: center; 
}

.cards:hover
{
transition: 1s;
border: 1px solid;
padding: 20px;
}
.image
{
   width:80%;
}

.img3
{
   height: -10px;
}