.section_padding{
    padding: 16px 16px;
 
 }
 .footer{
    background-color:#161F30;
    opacity: 80%;
    color:white;
 }
 .sb_footer{
     display: flex;
     flex-direction: column;
 }
 .sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    text-align: left;
    margin:20px;
   
}
.sb_footer-links-div{
    width:150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    margin-left:30px;
    margin-right:30px;
}
a{
    color: rgba(175, 175, 179);
    text-decoration: none;
    
}
.sb_footer-links-div h4{
    font-size:20px;
    line-height: 20px;
    margin-bottom: 14px;
}
.sb_footer-links-div p{
    font-size: 15px;
    line-height: 15px;
    margin: 8px 0;
    cursor:pointer;
}
.socialmedia{
    display: flex;
    flex-direction: row;
}
.socialmedia img{
    width:80%
}
hr{
    color:White;
    width:100%;

}
.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
    padding-bottom: 50px;
}
.sb_footer-copyright p{
    font-size: 20px;
    line-height: 15px;
    color: rgba(255, 255,255);
    font-weight: 600;
    margin-left: 10px;
}
.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}
.sb_footer-below-links p{
    font-size: 16px;
    line-height:15px;
    margin-left: 30px;
    color: white;
    font-weight: 600;
    margin-right: 20px;
}