.tabcard-image{
    height: 120px;
    width: 150px;
    margin-right: 10px;
    border-radius: 1.5rem 0rem 0rem 1.5rem ;
}

.tabcard-card{
    margin: 40px 20px 5px;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    

}

/* .tabcard-container{
    margin-top: 25px ;
} */


.tabcard-heading{
    font-size: medium;
    line-height: 1;
    padding:15px 18px 0px 0px ;
    
}

.tabcard-caption{
    font-size: small;
    font-weight: 400;
    line-height: 50%;
    padding:15px 50px 0px 0px ;
}

.tabcard-btn{
    border: none;
    border-radius: 1.5rem;
    margin: 0px 0px 5px 25px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: white;
    color: rgb(255, 166, 0);
    font-weight: 700;
    font-family: "poppins";
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.tabcard-btn:hover{
   
}