

.td-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.comp-card{
    font-family: "poppins";
    border-radius: 1.5rem;
    background-color: #F9F9F7;
    margin: 50px 20px;
    height: 350px;
    padding: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.comp-card-heading{
    font-size: large;
    font-weight: 600;
}

.comp-card-img{
    height: 180px;
    width: 280px;
   }

   .comp-caption{
    font-weight: 300;
    font-size: small;
   }

.comp-book-now{
    border: none;
    padding: 8px 2.5rem;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "poppins";
    border-radius: 3rem;
    color: whitesmoke;
    background-color: #2d2322;
}


.comp-book-now:hover{
    color: rgb(240, 173, 48);
    transition: all.3s ease;
    background-color: black;
}
.comp-card:hover{
    transform: scale(0.97);
    transition: all ease-in-out .7s;
}