.home-header-img{
    background-image: url("https://images.pexels.com/photos/18466693/pexels-photo-18466693/free-photo-of-truck-on-road-through-desert.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100vw; 
    height: 105vh; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(0, 0, 0, 0.304);
    background-blend-mode: multiply;
    
}

.app-desc{
    text-align: center;
    margin: 50px 150px 10px;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "poppins";
}

.description{
text-align: center;
font-size: 2.5rem;
font-weight: 800;
font-family: "poppins";
margin-top: 50px;
}

.caption{
text-align: center;
}

.hr-line2{
    width: 50%;
    margin: 25px auto 25px;
}

.hr-line1{
    width: 15%;
    margin: 35px auto 25px;
}