

.app-title{
    font-size: 2.5rem;
    text-align: center;
    margin: 250px auto 25px;
    color: #b4efe7;
}

.explore-btn {
    width: 8em;
    height: 2.3em;
    display: block;
    margin: 0.5em auto ;
    background: rgba(0, 0, 0, 0.521);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .explore-btn:hover {
    color: black;
   }
   
   .explore-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .explore-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

   .arrow{
    margin: 0px 8px 0px;
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 1.5rem;
   }